<?xml version='1.0' encoding='utf-8'?>
<Document IsRecursive = "no" >
	<ID>
		<![CDATA[8b8e54a7-e890-4999-983d-65dea4587e08]]>
	</ID>
	<Title>
		<![CDATA[Footer]]>
	</Title>
	<Description/>
	<KeyWords/>
	<Content>
		<![CDATA[%footer { class = "bg-clr-body-foot" }
	%div { class = "GridRow" }
		%section { class="GridCell33 panel" }
			%header { class = "panel-body-footer-header"}
				%h4 Ejemplo
			%p Un ejemplo de sección de pie

		%section { class="GridCell33 panel" }
			<%if $LastNews != "" %>
				%NoTag
					$LastNews
					
		%section { class="GridCell33 panel" }
			%header { class = "panel-body-footer-header"}
				%h4 Enlaces
			%nav { class = "list-vertical-dotted"}
				%ul
					%li #a {href="http://www.microsoft.com" target="_blank" } Microsoft #
					%li #a {href="http://www.google.com/" target = "_blank" } Y Google #
					
	%div { class = "GridRow panel-body-footer-copyright bg-clr-body-foot-copyright txt-small" }
		%div { class="GridCell50" }
			%p © De mi sitio
		%div { class="GridCell50" }
			%nav { class = "list-horizontal-dotted fr" }
				%ul
					%li #a { href = "Index" } Inicio #
					%li #a { href = "Manual" } Manual # 
					%li #a { href = "SiteMap.tpg" } Mapa del sitio # ]]>
	</Content>
	<ShowAtRSS>no</ShowAtRSS>
	<ImageSummary/>
	<ShowChilds>0</ShowChilds>
	<Type>4</Type>
	<Scope>1</Scope>
	<DateCreate>0001-01-01 00:00:00</DateCreate>
	<TemplateCategoryItem/>
	<TemplateGallery/>
	<TemplateGalleryImage/>
	<TemplateSiteMap/>
	<Article/>
	<CategoryHeader/>
	<TemplateTag/>
	<TemplateMainPage/>
	<TemplateNews/>
</Document>
